*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* modal-div */
#modal{
    background-color: black;
    width: 500px;
    height: 250px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px 0px;
    position: absolute;
    transform: translateY(-175%);
    transition: transform 1s linear;
}
/* modal heading */
#modal h1{
    font-size: 22px;
    padding-left: 15px;
}
/* modal-content */
#modal p{
    font-size: 25px;
    width: 100%;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 42px;
}
/* close btn */
#modal button{
    background-color: white;
    align-self: flex-end;
    margin-right: 20px;
    padding: 5px 20px;
    border-radius: 7px;
    border: 5px double black;
}
/* click-btn */
#clickbtn{
    background-color: royalblue;
    padding: 10px 25px;
    border-radius: 10px;
    border: 5px double white;
    color: white;
    font-size: 20px;
    
}

/* clicking animation */
@keyframes clicking {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.9);
    }
    100%{
         transform: scale(1);
    }
}