*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div{
    height: 100px;
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
div button{
    padding: 10px 20px;
    background-color: palevioletred;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}
h1{
    color: rgb(211, 72, 119);
}